<?php

$GLOBALS['TYPO3_CONF_VARS']['DB'] = array(
	'database' => '',
	'extTablesDefinitionScript' => 'extTables.php',
	'host' => 'localhost',
	'socket' => '',
	'username' => '',
	'password' => '',
);

$GLOBALS['TYPO3_CONF_VARS']['GFX']['im_path'] = '/opt/local/bin/';
$GLOBALS['TYPO3_CONF_VARS']['GFX']['im_path_lzw'] = '/opt/local/bin/';
$GLOBALS['TYPO3_CONF_VARS']['SYS']['displayErrors'] = 1;